<div>
    <div>
        <div>{{article.votes}}</div>
        <div>Points</div>
    </div>
</div>
<div>
    <a href="{{article.link}}">{{article.title}}</a>
    <button (click)="voteUp()">VoteUp</button>
    <button (click)="voteDown()">VoteDown</button>
        
    <button (click)="deleteArticle(article)">Delete</button>
    <button (click)="beginUpdate()">Update</button>
</div>
<form>
    <ng-container *ngIf = updateMode  >
    <label for="title">Title:</label>
    <input type="text" [(ngModel)]="article.title" name="title">
    <label for="link">Link:</label>
    <input type="text" [(ngModel)]="article.link" name="link">
    <button (click)="saveArticle()">Save</button>
    <button (click)="cancelArticle()">Cancel</button>
</ng-container>
</form>

